dl_toolbox: "torch"  # The deep learning toolbox. Choices: "torch", "mindspore", "tensorlayer"
project_name: "netenv_ddqn_resilience"
logger: "wandb"  # Choices: tensorboard, wandb.
wandb_user_name: "wmqbit"
render: False
render_mode: 'rgb_array' # Choices: 'human', 'rgb_array'.
fps: 50
test_mode: False
device: "cuda:0"  # Choose an calculating device. PyTorch: "cpu", "cuda:0"; TensorFlow: "cpu"/"CPU", "gpu"/"GPU"; MindSpore: "CPU", "GPU", "Ascend", "Davinci".
distributed_training: False  # Whether to use multi-GPU for distributed training.
master_port: '12355'  # The master port for current experiment when use distributed training.

agent: "DDQN"
env_name: "NetEnv"
env_id: "NetEnv-Net30-v0"
env_seed: 1
RGBImgPartialObsWrapper: False
ImgObsWrapper: False
vectorize: "SubprocVecEnv" # DummyVecEnv, SubprocVecEnv
learner: "MyDDQNLearner"
policy: "Basic_Q_network"
representation: "Basic_MLP"
runner: "DRL"

# representation_hidden_size: [128, 64]
# q_hidden_size: [128, 64]
representation_hidden_size: [1024, 512, 256]
q_hidden_size: [256, 64, 16]
activation: 'relu'

seed: 1
parallels: 50
buffer_size: 400000
batch_size: 128
learning_rate: 0.0005
gamma: 0.99
n_epochs: 4

start_greedy: 0.6
end_greedy: 0.00
decay_step_greedy: 210_000_000
sync_frequency: 1000
training_frequency: 1
running_steps: 7_000_000
start_training: 5000

use_grad_clip: True  # gradient normalization
grad_clip_norm: 1.0
use_linear_lr_decay: True
end_factor_lr_decay: 0.3

use_actions_mask: True
use_obsnorm: False
use_rewnorm: True
obsnorm_range: 5
rewnorm_range: 5

test_steps: 10000
eval_interval: 50_000
test_episode: 20
log_dir: "../logs/ddqn_iii/"
model_dir: "../models/ddqn_iii/"
graph_source: "random_example"